<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Mission to Mars</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Mission to Mars</h1>
            <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
        </div>

        <div class="container">
            <h2>Latest Mars News</h2>
            <hr>
            <h4>{{mars_info.news.news_titles}}</h4>
            <p>{{mars_info.news.news_p}}</p>
        </div>

        <br>

        <div class="container">
            <div class="row">
                <!-- Left Image-->
                <div class="col-lg-8 col-md-8 col-sm-12">
                    <h2>Featured Mars Image</h2>
                    <hr>
                    <img src="{{mars_info.featured_img}}" style="max-width:100%; max-height: auto;"
                        alt="Mars Featured Image">
                </div>

                <div class='col-lg-4 col-md-4 col-sm-12'>
                    <h5>Current Weather on Mars</h5>
                    <p style="color: black">{{mars_info.mars_weather}}</p>
                    <br>

                    <div>
                        <h5 class="text-center text-lg-left"><b>Mars Facts</b></h5>
                        {{mars_info.mars_table|safe}}

                    </div>
                </div>
                <br>
                <br>

            </div>


        </div>
        
    </div>


</body>

</html>